{% extends "pheonix/main.html" %}

{% block content %}
    <div id='registation_form_container' class='container content'>
        <form method="post">
            {% csrf_token %}

            {% for field in registration_form %}
                <div class='form-group {% if field.errors %} has-error has-feedback {% endif %}'>
                    <label class='control-label' for='{{ field.name }}'>
                        {{field.help_text}}:
                    </label>
                    {{ field }}
                    <span class='glyphicon glyphicon-exclamation-sign form-control-feedback'></span>
                </div>
            {% endfor %}

            <button id='login_button' type='submit' class="btn btn-primary">
                <span class='glyphicon glyphicon-user'></span>
                Sign up
            </button>
        </form>
    </div>
{% endblock %}
